.app{
  background-color: #7ac9ab;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards-container{
  width: 1000px;
  height: 600px;
  flex-wrap: wrap;
}

.card{
  display: inline-block;
  margin: 5px;
  height: calc(200px - 10px);
  width: calc(250px - 10px);
  cursor: pointer;
  flex-wrap: wrap;
}

.card:hover{
  transform: scale(.90);
}

.card-image{
  height: calc(200px - 10px);
  width: calc(250px - 10px);
  flex-wrap: wrap;
}
